# Android Studio
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/appInsightsSettings.xml

# Gradle
.gradle

# Kotlin
.kotlin/

# Local machine configuration
local.properties

# Build outputs
/build
/captures
.externalNativeBuild
.cxx

# macOS
.DS_Store
